.teal-color{
	color: #20c997;
}

.infant{
	background-color: #9b9c76;
}

.kvm{
	background-color: #74a199;
}

.iitb{
	background-color: #6e9c76;
}

.contact-me{
	background-color: #4e8496;
}

.contact{
	background-color: #024f69;
}

.projects{
	background-color: #097082;
}